# ISSM-SAR Pipeline Config
PGHOST=localhost
PGPORT=5432
PGUSER=myuser
PGPASSWORD=mypassword
PGDATABASE=gis_db

S3_ENDPOINT=https://s3.my-endpoint.com
S3_ACCESS_KEY=my_access_key
S3_SECRET_KEY=my_secret_key
S3_OUTPUT_BUCKET=issm-sar-results

STAC_API_URL=http://localhost:8080
PIPELINE_PUBLISH=true
