#----------SOURCE S3 & STAC API information-----------------
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
STAC_API_URL=

#----------TARGET S3 & STAC API information-----------------
# SR_S3 fallback logic (Để trống sẽ tự nối sang S3 SOURCE)
SR_S3_ENDPOINT=
SR_S3_ACCESS_KEY=
SR_S3_SECRET_KEY=
SR_S3_BUCKET=eov-platform-test
SR_S3_PREFIX_MONTHLY=issm-sar-sr-x2/monthly
SR_COLLECTION_ID_MONTHLY=sentinel-1sr-5m-monthly

# ------------Database information---------------
PGHOST=
PGPORT=5439
PGUSER=
PGPASSWORD=
PGDATABASE=eov_imagery_daily_db

# Runtime tuning overrides (CLI > .env > YAML)
WORKFLOW_PUBLISH_ENABLED=false
PIPELINE_SAVE_DEBUG_DATA=true
INFER_BATCH_SIZE=8


